@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@theme {
  --font-title: "hamrah";
  --font-ul: "peyda";
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: peyda;
  src: url("Peyda/Peyda-Bold[@fontbazi].ttf");
}

@font-face {
  font-family: peydabold;
  src: url("/fonts/Peyda/Peyda-Bold[@fontbazi].ttf");
}
@font-face {
  font-family: peydaExtraBold;
  src: url("/fonts/Peyda/Peyda-Black[@fontbazi].ttf");
}

@font-face {
  font-family: iransans-semiBold;
  src: url(./fonts/IRANSansX-DemiBold.ttf);
}

@font-face {
  font-family: iransans-medium;
  src: url(./fonts/IRANSansX-Medium.ttf);
}

@font-face {
  font-family: iransans-Bold;
  src: url(./fonts/IRANSansX-Bold.ttf);
}
@font-face {
  font-family: iransans-ExtraBold;
  src: url(./fonts/IRANSansX-ExtraBold.ttf);
}
@font-face {
  font-family: hamrah;
  src: url(./fonts/Hamrah.ttf);
}

* {
  scroll-behavior: smooth;
  font-family: peydabold;
  direction: rtl;
}

.iransans-semiBold {
  font-family: iransans-semiBold;
}

.iransans-medium {
  font-family: iransans-medium;
}

.iransans-Bold {
  font-family: iransans-Bold;
}

.hamrah {
  font-family: hamrah;
}

.iransans-ExtraBold {
  font-family: iransans-ExtraBold;
}
.peydaExtra {
  font-family: peydaExtraBold;
}

@layer components {
  .sub-menu {
    @apply absolute top-[4.5rem] p-[15px] rounded-[10px] origin-[50%_-170px] ;
  }
}

@layer utilities {
  .flex-center {
    @apply flex items-center;
  }
  .flex-center-between {
    @apply flex items-center justify-between;
  }
}

body {
  background-image: linear-gradient(-70deg, #fff 0%, #7e91c6 38%, #566eb1 49%, #1b2a54 79%, #0d193d 90%);

  background-repeat: repeat;
  direction: rtl;
}

@layer utilities {
  .navbar-settings {
    filter: drop-shadow(1px 1px 20px #00000048);
  }

  .navbar-shadow {
    filter: drop-shadow(1px 1px 5px #0000004d);
  }

  .bg-btn-hovor:hover {
    background: #edddf7;
    background: linear-gradient(
      90deg,
      rgb(143, 180, 250) 0%,
      rgb(119, 137, 248) 50%,
      rgb(143, 180, 250) 100%
    );
  }

  .btn-search-hovor:hover {
    background: #edddf7;
    background: linear-gradient(
      90deg,
      rgb(193, 214, 252) 0%,
      rgb(180, 189, 252) 50%,
      rgb(193, 214, 252) 100%
    );
  }

  .border-serch-box {
    border: 1px solid rgb(143, 180, 250);
  }

  .shadow-sodino-icon {
    filter: drop-shadow(1px 1px 1px #000000);
  }

  .home-slider-box {
    filter: blur(20px);
    filter: drop-shadow(1px 1px 3px #00000050);
  }



  .ball-img-speaker {
    filter: drop-shadow(1px 1px 3px #00000075);
  }

  .btn-home {
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.37));
  }

  .slider-bg-home {
    background: #b4d9fa;
    background: linear-gradient(
      90deg,
      rgb(141, 208, 235) 0%,
      rgb(255, 255, 255) 100%
    );
  }

  .slider-print-home {
    background: #aeaeae;
    background: linear-gradient(
      90deg,
      rgba(174, 174, 174, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .slider-web-home {
    background: #1c42a3;
    background: linear-gradient(
      90deg,
      rgb(38, 79, 184) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .mahsol-bg-home {
    background: #fcd7d2;
    background: linear-gradient(
      90deg,
      rgb(142, 197, 235) 0%,
      rgb(252, 251, 251) 100%
    );
  }

  .khadamat-bg-home {
    background: #86bdf7;
    background: linear-gradient(
      90deg,
      rgba(134, 189, 247, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }

  .color-bg-home {
    background: #fcc7c0;
    background: linear-gradient(
      90deg,
      rgb(252, 196, 189) 0%,
      rgb(247, 206, 206) 100%
    );
  }

  .soldout-bg-home {
    background: #47a4e2;
    background: linear-gradient(
      1deg,
      rgb(142, 197, 235) 0%,
      rgb(255, 255, 255) 100%
    );
  }

  .img-sodino-shadow {
    filter: drop-shadow(1px 1px 10px #ffffffa2);
  }

  .bgBlur {
    background-color: #0000003d;
    --tw-backdrop-blur: blur(var(--blur-md) /* 12px */);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
  }

    .cta {
      position: relative;
      display: inline-flex;
      font-size: 18px;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      align-items: center;
    }

    .cta:after {
      position: absolute;
      top: -0.4em;
      left: -0.5em;
      z-index: -2;
      width: calc(100% + 1.2em);
      height: calc(100% + 1em);
      background-image: linear-gradient(225deg, #32c5ff, #b620e0 51%, #f7b500);
      border-radius: 100%;
      opacity: 0.66;
      filter: blur(1em) saturate(1.2) ;
      transition: transform 0.2s;
      content: "";
    }

    .cta a {
      text-align: center;
      width: 100%;
    }

    .loginText {
      position: relative;
      display: flex;
      gap: 5px;
      align-items: center;
      justify-content: space-between;
      height: auto;
      padding: 8px;
      overflow: hidden;
      font-size: 16px;
      color: white;
      text-shadow: none;
      border: none;
      border-radius: 24px;
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      white-space: nowrap;
    }

    .loginText:after,
    .loginText:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
    }

    .loginText:before {
      top: -0.67em;
      left: -1.5em;
      z-index: -1;
      width: calc(100% + 3em);
      height: calc(100% + 1em);
      background-image: linear-gradient(225deg, #32c5ff, #b620e0 51%, #f7b500);
      opacity: 0.5;
    }

    .loginText:after {
      z-index: -1;
      
      background-color: #3e3e3e3d;
    --tw-backdrop-blur: blur(var(--blur-md) /* 12px */);
    -webkit-backdrop-filter: var(--tw-backdrop-blur)
      var(--tw-backdrop-brightness) var(--tw-backdrop-contrast)
      var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate)
      var(--tw-backdrop-invert) var(--tw-backdrop-opacity)
      var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
      var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
      var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
      var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
      var(--tw-backdrop-sepia);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      opacity: 1;
      transition: opacity 0.2s;
    }

    @media (hover: hover) {
      .cta:hover .text::after {
        opacity: 0.6;
      }
    }
  }

